<%- include('./includes/dash.ejs') %>
<link rel="stylesheet" href="/assets/css/playersettings.css">
<section class="home">
    <div class="text">Game Settings</div>
    <div class="dash_container">
        
    </div>
</section>