<%- include('./includes/dash.ejs') %>
<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/rangeslider.css">
<section class="home">
    <div class="text">Dashboard</div>
    <div class="dash_container">
        <p style="color: red;">MEH</p>
    </div>
</section>