.info{
    height: 80px;
    width: 100%;
    background: #10001a ;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 0 0 1em 0 #000;
    margin-bottom: 2%;
  }
  .sliderValue{
    position: relative;
    width: 100%;
  }
  .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: -40px;
    line-height: 55px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #664AFF;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 18px;
    color: #664AFF;
    font-weight: 600;
  }
  .field .value.left{
    left: -22px;
  }
  .field .value.right{
    right: -43px;
  }
  .info input{
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: #00000052;
    box-shadow: 0 0 0.5em #ff00ef38;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
    text-align: center;
    font-size: larger;
  }
  .info input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }
  .info input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }
  .info input::-moz-range-progress{
    background: #664AFF; /*this progress background is only shown on Firefox*/
  }

/* CSS */
.button-30 {
	align-items: center;
	appearance: none;
	background-color: #07001a;
	border-radius: 12px;
	border-width: 1px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #ff00c0;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 61px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 68px;
	padding-right: 68px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s,transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow,transform;
	font-size: 19px;
	margin-bottom: 1%;
	box-shadow: 0 0 2em 0 #0000006e;
	/* border: #ffffff; */
	margin-right: 22px;
	border-color: #9700ff5e;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.box {
  width: 120px;
  height: 35px;
  border: 1px solid #000; /*999*/
  font-size: 18px;
  color: magenta; /*1c87c9*/
  /*animation: rainbow 60s linear;*/
  box-shadow: 0 0 0.5em #ff00ef38;
animation-iteration-count: infinite;
  background-color: #00000052; /*eee*/
  border-radius: 5px;
  min-width:100%;
  text-align: center;
  }
select option {
  background-color: transparent;
  color: #fff;
}
  .btn {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 25px;
  width: 100%;
}